/* Global Styles and CSS Variables */
:root {
    --primary-color: #333;
    --accent-color: #ff6347;
    --background-color: #f4f4f4;
    --text-color: #fff;
    --secondary-text-color: #666;
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

/* Header Styling */
header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 100px;
    max-width: 100%;
}

/* Navigation Styling */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;  /* Cambiado a flex para mostrar los elementos en una fila */
    justify-content: center;
    gap: 20px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--accent-color);
}

/* Main Content Styling */
main {
    padding: 20px;
    text-align: center;
}

main h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    color: var(--text-color);
}

/* Hero Section Styling */
.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 3em;
    color: var(--text-color);
}

.hero article {
    position: absolute;
    top: 60%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: var(--text-color);
    width: 80%;
    max-width: 500px;
}

.hero article img {
    float: right;
    width: 50%;
    margin-left: 20px;
    border-radius: 5px;
}

/* Section Styling */
section {
    padding: 2px;
    margin-top: 20px;
    background-color: var(--primary-color);
}

section h2 {
    font-size: 2em;
    color: var(--text-color);
}

/* Footer Styling */
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
    color: var(--text-color);
}

.sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sociallinks a:hover img {
    opacity: 0.8;
}

/* Corregir sintaxis de linear-gradient */
input, button {
    background-image: linear-gradient(to top, #ff6347, #333); /* Corregido gradiente */
}

input:hover, button:hover {
    background-image: linear-gradient(to top, #ff6347, #444);
}

input:active, button:active {
    background-image: linear-gradient(to top, #ff6347, #222);
}







