/*CSS rafting*/
:root {
    --primary-color: #26408B;
    --accent-color: #6688B0;
    --background-color: hsl(212, 32%, 55%);
    --text-color: #E4EDF1;
    --secondary-text-color: #86ACC3;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    margin-bottom: 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    margin-bottom: 20px;
}

header img {
    width: 100px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--accent-color);
}

.hero {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top, #0b57d0, #ff6347);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 3em;
    color: #1B246B;
}

.hero article {
    position: absolute;
    top: 60%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: var(--text-color);
    width: 80%;
    max-width: 500px;
}

.hero article img {
    float: right;
    width: 50%;
    margin-left: 20px;
    border-radius: 5px;
    color: var(--text-color);
}

.history {
    padding: 20px;
    background-color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.history h2 {
    font-size: 2em;
    color: var(--text-color);
    text-align: center;
}

.history p {
    font-size: 1.2em;
    color: var(--text-color);
    text-align: center;
}


.adventures {
    padding: 20px;
    background-color: var(--primary-color);
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.adventure-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.adventures figure {
    margin: 0;
    text-align: center;
    border-radius: 8px;
    flex-basis: 18%;
    min-width: 200px;
}

.adventures img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.adventures figcaption {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer p {
    font-size: 1em;
    color: var(--text-color);
    
}

.sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sociallinks a:hover img {
    opacity: 0.8;
}

.social-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.social-icon:hover {
    opacity: 0.8;  
}

